
# Server configuration
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:8080

# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=password
DB_NAME=graphical_auth

# JWT Secret
JWT_SECRET=your_jwt_secret_key_here
